# Bedrock
config
vendor
web
CHANGELOG.md
LICENSE.md
composer.lock
wp-cli.yml
.env.example

# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# WordPress
web/wp
web/.htaccess

# Dotenv
.env
.env.*

# Composer
vendor/*
!vendor/.gitkeep


## General
.cvs
.htaccess
.svn
*.bak
*.log
*.swp

## Windows
Desktop.ini
Thumbs.db

## Mac
.DS_Store

## WordPress
app/blogs.dir/
app/upgrade/
app/backup-db/
app/advanced-cache.php
app/wp-cache-config.php
app/cache/*
app/cache/supercache/*
app/cache/
app/backups/
sitemap.xml
sitemap.xml.gz

## Development
.sass-cache
bower_components
node_modules
build
dist
assets/icons
_normalize.scss
.idea
